<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://eu-cdbr-west-02.cleardb.net:3306/heroku_187058818f98432</property>
		<property name="hibernate.connection.username">b2ba8d6135adc0</property>
		<property name="hibernate.connection.password">86c3dadf</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.provider_class">  
        org.hibernate.connection.C3P0ConnectionProvider  
</property>  
<property name="hibernate.c3p0.min_size">5</property>  
<property name="hibernate.c3p0.max_size">10</property>  
<property name="hibernate.c3p0.max_statements">50</property>  
<property name="hibernate.c3p0.timeout">36000000</property>  
<property name="hibernate.c3p0.idle_test_period">120</property>  
<property name="hibernate.c3p0.acquire_increment">2</property>  
		<mapping class="model.bo.Utilisateur" />
		<mapping class="model.bo.Comment" />
		<mapping class="model.bo.Annonce" />
		<mapping class="model.bo.Evenement" />
		<mapping class="model.bo.Message" />
		<mapping class="model.bo.ACommentaire" />
		<mapping class="model.bo.Photo" />
		<mapping class="model.bo.Avatar" />
		<mapping class="model.bo.PhotoEvent" />
		<mapping class="model.bo.Notification" />


	</session-factory>
</hibernate-configuration>
