<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Projet_dar</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>controller.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>controller.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccessoiresServlet</servlet-name>
		<servlet-class>controller.AccessoiresServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>controller.MessageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>controller.MailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/pages/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/pages/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/pages/comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessoiresServlet</servlet-name>
		<url-pattern>/pages/accessoires</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/pages/message</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/pages/mail</url-pattern>
	</servlet-mapping>
 <servlet>
    <servlet-name>AnnonceServlet</servlet-name>
    <servlet-class>controller.AnnonceServlet</servlet-class>
    <multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
  </servlet>
  <servlet>
    <servlet-name>EvenementServlet</servlet-name>
    <servlet-class>controller.EvenementServlet</servlet-class>
      <multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
  </servlet>
   <servlet>
    <servlet-name>CommentaireServlet</servlet-name>
    <servlet-class>controller.CommentaireServlet</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>controller.UploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/pages/upload</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnnonceServlet</servlet-name>
    <url-pattern>/pages/annonce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvenementServlet</servlet-name>
    <url-pattern>/pages/event</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CommentaireServlet</servlet-name>
    <url-pattern>/pages/commentaire</url-pattern>
  </servlet-mapping>
</web-app>

